section.increments-options(tg-check-permission="add_increment")
    div.new-increment
        a.button-green(href="", ng-click="ctrl.addNewIncrement()")
            span.text(translate="INCREMENTS.ACTION_NEW_INCREMENT")
        